.headerContainer {
    height: 6rem;
    background: var(--white);
    margin-bottom: 0;
}

.headerContent{
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    nav {
        margin-left: 10rem;
        height: 5rem;

        a{
            font-size: 10pt;
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            text-transform: uppercase;
            line-height: 5rem;
            color: var(--black);
            margin-right: 1rem;
        }
        
        a:last-child {
            margin-right: 0;
        }
        & .active{
            color: var(--color-primary);
            font-weight: bold;
        }
        
    }

    button{
        margin-left: auto;
    }
}

.img_full{
    border-style: none;
    max-width: 100%;
    height: auto;
    overflow: clip;
    display: block; 
    margin: 0;
    padding: 0;
}