.footerContainer{
    background-color: var(--color-primary);
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
}
.footerContent{
    margin: 0;

}